body {
  padding: 10px;
  background: rgb(31, 8, 102);
  background: linear-gradient(180deg, rgb(184, 183, 238) 0%, rgba(57, 69, 132, 0.762) 100%);
  margin: 0;
}

#wrapperDiv {
  height: 930px;
  width: 1095px;
  margin: auto;
  margin-top: 20px;
  background: rgb(0, 7, 7);
  background: linear-gradient(0deg, rgb(99, 141, 142) 0%, rgb(28, 58, 95) 100%);
  border: solid rgb(15, 15, 16) 12px;
  filter: drop-shadow(11px 10px 4px #505057);
}


.infoTileDiv{
  float: left;
  margin-left: 7px;
  margin-top: 2px;
  height: 68px;
  width: 100px;
  color:black;
  border-radius: 11%;
  background: linear-gradient(180deg, rgb(166, 239, 240) 0%, rgb(99, 164, 243) 100%);
  border: solid rgb(15, 15, 16) 6px;

  filter: drop-shadow(5px 5px 4px #294632);
}



#cnvDiv {
  float:left;
  height: 900px;
  width: 900px;
  margin:10px;
  margin-right:0px;
  background-color: rgb(25, 221, 48);
  border: solid rgb(200,100,50) 8px;
  
}
#infoDiv {
  float:left;
  height: 900px;
  width: 130px;
  margin:10px;
  margin-left:10px;
  
  background-color: rgb(220, 110, 20);
  border: solid rgb(31, 30, 30) 8px;
  
}





h1 {
  margin:auto;;
  margin-top:15px;
  margin-left:42px;
  color: rgb(18, 17, 17);
}
h2 {
  margin:auto;;
  margin-top:15px;
  margin-left:42px;
  color: rgb(18, 17, 17);
 }

 h3 {
  margin:auto;
  margin-top:20px;

  text-align: center;
  color: rgb(18, 17, 17);
 }